PORT=3001
HOST=0.0.0.0
ALLOWED_ORIGIN=*
OPEN_METEO_REFRESH_MINUTES=15
AVIATION_REFRESH_MINUTES=1
HAZERFAN_URL_TEMPLATE=https://rasat.mgm.gov.tr/result?stations={station}&obsType=1&obsType=2&hours=0

# DEM (GeoTIFF) support
DEM_ENABLED=false
DEM_DATA_PATH=data/dem
DEM_BATCH_MAX_POINTS=500
DEM_AGL_ROUND_STEP_FT=100
DEM_NODATA_FALLBACK_METERS=0
DEM_RESTRICT_TO_METEO_BBOX=true
